h1 {
    color: black;
}
h3 {
    color: black;
}
body {
    background-color: blueviolet;
}
video {
    width: 720px;
    height: 402px;
}
img {
    width: 400px;
    height: 601px;
}